table {
  border-collapse: collapse;
}
th {
  background: #e96472;
  color: #fff;
}

th,
td {
  border: 1px solid #e96472;
  padding: 8px;
}

tr:nth-child(even) {
  background: #fad8dc;
}

tr:hover {
  background: #e96472;
}

.users-container {
  width: 90%;
  height: 90%;
  /* border: 1px solid red; */
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
}

.users-container #create-user-btn {
  position: absolute;
  top: 1rem;
  right: 0;
  background-color: #28a745; /* Green background */
  color: #ffffff; /* White text */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px; /* Optional: rounded corners */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.users-container #view-top-investors-btn {
  position: absolute;
  top: 1rem;
  right: 9rem;
  background-color: #28a745; /* Green background */
  color: #ffffff; /* White text */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px; /* Optional: rounded corners */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.users-container button:hover {
  background-color: #218838; /* Darker green on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-button {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.create-user-to-db {
  border-radius: 10px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 12rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2rem;
}

.create-user-to-db:active {
  transform: scale(0.95);
}

.create-user-to-db:focus {
  outline: none;
}

.create-user-to-db.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.create-user-form {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
}

.create-user-form .create-user-detail {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.create-user-form .create-user-detail .create-user-tab {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.create-user-form .create-user-detail input,
.create-user-form .create-user-detail select {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 94%;
  font-size: 16px; /* Ensure font size matches input field */
  color: #333; /* Adjust text color if needed */
  border-radius: 4px; /* Optional: add rounded corners for a consistent look */
}

.create-user-form .create-user-detail select {
  width: 100%;
  -webkit-appearance: none; /* Remove default styling for select on WebKit-based browsers */
  -moz-appearance: none; /* Remove default styling for select on Firefox */
  appearance: none; /* Remove default styling */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path fill="none" stroke="%23333" stroke-width="2" d="M1 1l4 4 4-4"/></svg>'); /* Custom down arrow */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Position the arrow to the right */
  background-size: 10px 6px; /* Size of the arrow */
}

/* deposit modal */
.deposit-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.deposit-modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-deposit-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-deposit-btn:hover,
.close-deposit-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.deposit-to-db {
  border-radius: 10px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 12rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2rem;
}

.deposit-to-db:active {
  transform: scale(0.95);
}

.deposit-to-db:focus {
  outline: none;
}

.deposit-to-db.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.deposit-form {
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
}

.deposit-form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 94%;
  font-size: 16px; /* Ensure font size matches input field */
  color: #333; /* Adjust text color if needed */
  border-radius: 4px; /* Optional: add rounded corners for a consistent look */
}

/* withdraw modal */
.withdraw-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.withdraw-modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-withdraw-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-withdraw-btn:hover,
.close-withdraw-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.withdraw-to-db {
  border-radius: 10px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 12rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2rem;
}

.withdraw-to-db:active {
  transform: scale(0.95);
}

.withdraw-to-db:focus {
  outline: none;
}

.withdraw-to-db.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.withdraw-form {
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
}

.withdraw-form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 94%;
  font-size: 16px; /* Ensure font size matches input field */
  color: #333; /* Adjust text color if needed */
  border-radius: 4px; /* Optional: add rounded corners for a consistent look */
}

/* apply Loan modal */
.loan-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.loan-modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-loan-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-loan-btn:hover,
.close-loan-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.loan-to-db {
  border-radius: 10px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 12rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2rem;
}

.loan-to-db:active {
  transform: scale(0.95);
}

.loan-to-db:focus {
  outline: none;
}

.loan-to-db.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.loan-form {
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
}

.loan-form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 94%;
  font-size: 16px; /* Ensure font size matches input field */
  color: #333; /* Adjust text color if needed */
  border-radius: 4px; /* Optional: add rounded corners for a consistent look */
}

/* Loan modal */
.pay-loan-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.pay-loan-modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-pay-loan-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-pay-loan-btn:hover,
.close-pay-loan-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pay-loan-to-db {
  border-radius: 10px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 12rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2rem;
}

.pay-loan-to-db:active {
  transform: scale(0.95);
}

.pay-loan-to-db:focus {
  outline: none;
}

.pay-loan-to-db.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.pay-loan-form {
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
}

.pay-loan-form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 94%;
  font-size: 16px; /* Ensure font size matches input field */
  color: #333; /* Adjust text color if needed */
  border-radius: 4px; /* Optional: add rounded corners for a consistent look */
}

/* Loan modal */
.top-investors-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.top-investors-modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-top-investors-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-top-investors-btn:hover,
.close-top-investors-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#account-page-link {
  display: none;
}

#dashboard-tab {
  display: none;
}

#profile-img {
  border-radius: 50%;
}

/* apply credit modal */
.credit-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.credit-modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-credit-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-credit-btn:hover,
.close-credit-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.credit-to-db {
  border-radius: 10px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 12rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2rem;
}

.credit-to-db:active {
  transform: scale(0.95);
}

.credit-to-db:focus {
  outline: none;
}

.credit-to-db.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.credit-form {
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
}

.credit-form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 94%;
  font-size: 16px; /* Ensure font size matches input field */
  color: #333; /* Adjust text color if needed */
  border-radius: 4px; /* Optional: add rounded corners for a consistent look */
}
