.cookieCard {
  width: 300px;
  height: 200px;
  background: linear-gradient(to right, rgb(233, 100, 114), rgb(250, 156, 150));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.cookieCard::before {
  width: 150px;
  height: 150px;
  content: "";
  background: linear-gradient(to right, rgb(233, 100, 114), rgb(250, 216, 220));
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  right: -25%;
  top: -25%;
}

.cookieHeading {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.cookieDescription {
  font-size: 0.9em;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.cookieDescription a {
  color: rgb(241, 241, 241);
}

.acceptButton {
  padding: 11px 20px;
  background-color: #e96472;
  transition-duration: 0.2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  z-index: 2;
}

.acceptButton:hover {
  background-color: #df5a72;
  transition-duration: 0.2s;
}

.dashboard-content {
  position: relative;
  margin-top: 2rem;
  width: 90%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* deposit modal */
.deposit-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.deposit-modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-deposit-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-deposit-btn:hover,
.close-deposit-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.deposit-to-db {
  border-radius: 10px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 12rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2rem;
}

.deposit-to-db:active {
  transform: scale(0.95);
}

.deposit-to-db:focus {
  outline: none;
}

.deposit-to-db.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.deposit-form {
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
}

.deposit-form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 94%;
  font-size: 16px; /* Ensure font size matches input field */
  color: #333; /* Adjust text color if needed */
  border-radius: 4px; /* Optional: add rounded corners for a consistent look */
}

/* apply Loan modal */
.loan-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.loan-modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-loan-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-loan-btn:hover,
.close-loan-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.loan-to-db {
  border-radius: 10px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 12rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2rem;
}

.loan-to-db:active {
  transform: scale(0.95);
}

.loan-to-db:focus {
  outline: none;
}

.loan-to-db.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.loan-form {
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
}

.loan-form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 94%;
  font-size: 16px; /* Ensure font size matches input field */
  color: #333; /* Adjust text color if needed */
  border-radius: 4px; /* Optional: add rounded corners for a consistent look */
}

/* apply credit modal */
.credit-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.credit-modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-credit-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-credit-btn:hover,
.close-credit-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.credit-to-db {
  border-radius: 10px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 12rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2rem;
}

.credit-to-db:active {
  transform: scale(0.95);
}

.credit-to-db:focus {
  outline: none;
}

.credit-to-db.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.credit-form {
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
}

.credit-form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 94%;
  font-size: 16px; /* Ensure font size matches input field */
  color: #333; /* Adjust text color if needed */
  border-radius: 4px; /* Optional: add rounded corners for a consistent look */
}

/* deposit modal */
.transfer-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.transfer-modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-transfer-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-transfer-btn:hover,
.close-transfer-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.transfer-to-db {
  border-radius: 10px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 12rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2rem;
}

.transfer-to-db:active {
  transform: scale(0.95);
}

.transfer-to-db:focus {
  outline: none;
}

.transfer-to-db.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.transfer-form {
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
}

.transfer-form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 94%;
  font-size: 16px; /* Ensure font size matches input field */
  color: #333; /* Adjust text color if needed */
  border-radius: 4px; /* Optional: add rounded corners for a consistent look */
}

.btnContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

/* apply credit modal */
.transactions-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.transactions-modal-content {
  background-color: white;
  margin: 1% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-transactions-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-transactions-btn:hover,
.close-transactions-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#view-transactions {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  background-color: #28a745; /* Primary green color */
  color: #fff; /* White text */
  border: none;
  border-radius: 5px; /* Rounded corners */
  font-size: 1rem; /* Font size */
  font-weight: bold; /* Bold text */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#view-transactions:hover {
  background-color: #218838; /* Darker green on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

#view-transactions:active {
  transform: scale(1); /* Reset scale when clicked */
}

table {
  border-collapse: collapse;
}
th {
  background: #e96472;
  color: #fff;
}

th,
td {
  border: 1px solid #e96472;
  padding: 8px;
}

tr:nth-child(even) {
  background: #fad8dc;
}

tr:hover {
  background: #e96472;
}

.pagination-button {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.pagination-button.active {
  background-color: #28a745;
  color: #fff;
  border-color: #28a745;
}

.pagination-button:hover {
  background-color: #218838;
  color: #fff;
  border-color: #218838;
}
