.offers-section-card {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
}

.offers-section-card h2 {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.offers-section-card #create-offer-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #28a745; /* Green background */
  color: #ffffff; /* White text */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px; /* Optional: rounded corners */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.offers-section-card #create-offer-btn:hover {
  background-color: #218838; /* Darker green on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

.offers-section-card .offers-container {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  gap: 16px;
}

.offers-section-card .offers-container .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.offers-section-card .offers-container .button-container button {
  position: relative;
  background-color: #28a745; /* Green background */
  color: #ffffff; /* White text */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px; /* Optional: rounded corners */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.offers-section-card .offers-container .button-container .delete-offer-btn {
  background-color: #dc3545;
}

.offers-section-card
  .offers-container
  .button-container
  .delete-offer-btn:hover {
  background-color: #b02a37;
}

.offers-section-card .offers-container .button-container button:hover {
  background-color: #218838; /* Darker green on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

.offers-section-card .offers-container .offer-card {
  flex: 0 0 calc(33.3% - 16px); /* Ensure 3 items per row with space */
  box-sizing: border-box; /* Include padding/borders in width */
  width: 100%;
  height: 50%;
  border: 1px solid #e96472;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

.offers-section-card .offers-container .offer-card img {
  width: 80%;
  height: 65%;
  object-fit: cover;
}

.offers-section-card .offers-container .offer-card p {
  text-align: center;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-button {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.create-offer-to-db {
  border-radius: 10px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2rem;
}

.create-offer-to-db:active {
  transform: scale(0.95);
}

.create-offer-to-db:focus {
  outline: none;
}

.create-offer-to-db.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.create-offer-form {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
}

.create-offer-form .img-container {
  width: 40%; /* Set the container's width */
  height: 40%; /* Set the container's height */
  border: 1px solid gray;
  margin-top: 2.5rem; /* Top margin for spacing */
  overflow: hidden; /* Ensure no overflow outside the container */
  display: flex; /* Center-align the image */
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.create-offer-form .img-container img {
  width: 100%; /* Match the container's width */
  height: auto; /* Maintain aspect ratio */
  max-height: 100%; /* Prevent vertical overflow */
  object-fit: cover; /* Ensure the image fits within the container */
}

.create-offer-form .create-offer-detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.create-offer-form .create-offer-detail input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

/* Modal styles */
.edit-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.edit-modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.close-edit-offer-button {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close-edit-offer-button:hover,
.close-edit-offer-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.update-offer-btn-to-db {
  border-radius: 10px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2rem;
}

.update-offer-btn-to-db:active {
  transform: scale(0.95);
}

.update-offer-btn-to-db:focus {
  outline: none;
}

.update-offer-btn-to-db.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.edit-offer-form {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
}

.edit-offer-form .img-container {
  width: 40%; /* Set the container's width */
  height: 40%; /* Set the container's height */
  border: 1px solid gray;
  margin-top: 2.5rem; /* Top margin for spacing */
  overflow: hidden; /* Ensure no overflow outside the container */
  display: flex; /* Center-align the image */
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.edit-offer-form .img-container img {
  width: 100%; /* Match the container's width */
  height: auto; /* Maintain aspect ratio */
  max-height: 100%; /* Prevent vertical overflow */
  object-fit: cover; /* Ensure the image fits within the container */
}

.edit-offer-form .update-offer-detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.edit-offer-form .update-offer-detail input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

#dashboard-tab {
  display: none;
}

#account-page-link {
  display: none;
}
#profile-img {
  border-radius: 50%;
}

.pagination-container {
  bottom: -4rem;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.pagination-button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
